/* 导航栏容器样式 */
nav {
    display: flex; /* 使用flex布局使导航栏内容横向排列 */
    
    background: linear-gradient(to right, rgba(76, 175, 80, 0.5), rgba(33, 150, 243, 0.5)); /* 设置渐变背景色并添加80%不透明度 */
    border-radius: 10px; /* 设置导航栏圆角 */
    max-width: 800px; /* 设置导航栏最大宽度 */
    padding: 10px; /* 添加内边距 */
    margin: 0 auto; /* 水平居中 */
}

/* 导航栏左侧内容样式 */
nav .left-content {
    display: flex;
}

/* 导航栏右侧内容样式 */
nav .right-content {
    display: flex;
}

/* 导航栏列表样式 */
nav ul {
    list-style-type: none; /* 去除列表项的默认样式 */
    margin: 0;
    padding: 0;
    display: flex; /* 使用flex布局使列表项横向排列 */
}

/* 导航栏列表项样式 */
nav ul li {
    margin: 0 10px; /* 设置列表项的外边距 */
}

/* 导航栏链接样式 */
nav ul li a {
    color: rgb(0, 0, 0); /* 设置链接文字颜色 */
    text-decoration: none; /* 去除链接下划线 */
}

#all {
    width: auto;
    max-width: 800px; /* 设置最大宽度为800px */
    height: 100vh;
    margin: 0 auto; /* 水平居中 */
    border-radius: 10px; /* 设置圆角 */
    background: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)); /* 透明渐变背景 */
}

.block {
    display: inline-block;
    background-color: rgba(227, 236, 233, 0.5); /* 设置背景颜色并添加50%透明度 */
    box-sizing: border-box; /* 确保内边距和边框不会增加元素的整体宽度 */
    width: calc(50% - 10px); /* 每个块最多占50%宽度，减去间距 */
    margin-right: 10px; /* 设置右侧外边距 */
    margin-bottom: 10px; /* 设置底部外边距 */
    margin-top: 10px; /* 设置顶部外边距 */
    padding: 10px; /* 设置内边距 */
    border-radius: 10px; /* 新增圆角属性 */
    height: 150px; /* 设置固定高度 */
    transition: all 0.3s ease 0.1s; /* 鼠标移出时，添加0.2秒延迟的过渡效果 */
    /* 每两个块后取消右侧外边距 */
    &:nth-child(2n) {
        margin-right: 0;
    }
    
    &:nth-child(2n) {
        margin-right: 0;
    }
    
    /* 每两个块后取消右侧外边距 */
    &:nth-child(2n) {
        margin-right: 0;
    }
}

.block:hover {
    background-color: #d6d6d6; /* 改变背景颜色，这里选择一个稍深的水绿色 */
    transform: translateY(-3px); /* 向上移动3px，产生上浮效果 */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* 添加阴影，增强层次感 */
    transition: all 0.3s ease; /* 添加过渡效果，使变化更平滑 */
}



.iconsetting {
    width: 20px; /* 设置图标宽度 */
    height: 20px; /* 设置图标高度 */
    margin-right: 5px; /* 设置图标与文本之间的间距 */ 
}

.articletitle {
    font-size: 15px; /* 设置标题字体大小 */
    font-weight: bold; /* 设置标题字体加粗 */
    margin-bottom: 17px; /* 设置标题与文本之间的间距 */

}


.icon {
    background-color: aquamarine;
    display: inline-flex; /* 使用内联弹性布局使内容在统一水平线上 */
    align-items: center; /* 垂直居中对齐 */
    gap: 10px; /* 设置内容之间的间距 */
    height: 20px;
}
